@import "meyer-reset";
@import "shared";

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.g-container {
  max-width: 1000px;
  min-width: 700px;
  width: 100%;
  margin: 0 auto;
}
.g-header {
  overflow: hidden;

  .h-left {
    @extend .fl-l;
  }

  .h-right {
    @extend .fl-r;
  }
}
.logo {
  height: 50px;

  img {
    height: 100%;
    display: block;
  }
}